body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  overflow-x: hidden;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box {
  position: relative;
  text-align: left;
  vertical-align: top;
  padding: 200px 50px;
  margin: 2em 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.box1 {
  padding: 50px 50px;
  margin: 2em 0;
  font-weight: bold;

  border: solid 3px #f1a222;
}

.box2 {
  padding: 30px 30px;
  width: 50px;
  height: 20px;
  margin: 2em 0;
  font-weight: bold;

  border: solid 3px #f1a222;
}

button {
  width: 200px;
  height: 51px;
  background-color: #37ce57;
  font-size: 20px;
  color: white;
  border: 0;
  white-space: nowrap;
}

.sample {
  text-align: right;
}

.main1 {
  width: 100%;
  display: none;
  display: flex;
  justify-content: space-around;
}

.main2 {
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 55px;
}

.main3 {
  text-align: center;
}

.main4 {
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 270px;
  bottom: 50px;
}

.pcview {}

.spview {
  display: none;
}

@media screen and (max-width: 979px) {
  .pcview {
    display: none;
  }

  .spview {
    display: block;
  }
}