@charset "utf-8";

/* フォントの定義 */
@font-face {
  font-family: MyFont;
  src: url(../css/fonts/riipopkr/RiiPopkkR.otf);
}

/*背景*/
body {
  background-image: url("../img/Back-ground-image.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: MyFont;
}

/* サイトタイトル */
div.title-container {
  margin-top: 50px;
  margin-left: 30px;
}

h1.title {
  display: table-cell;
  text-align: center;
}

/*犬猫猿ボタン*/
.top-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 960px;
  min-width: 250px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  padding: 0px 30px;
}

button.page-button {
  width: 180px;
  height: 50px;
  background-color: #01AC64;
  font-size: 20px;
  color: white;
  border: 0;
  white-space: nowrap;
  border-radius: 7px;
  text-align: center;
  padding-right: 5%;
}


.page-text {
  position: relative;
  top: -10px;
  left: 20px;
}

.animal-icon {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
  left: 10px;
}

.monkey-icon {
  position: relative;
  top: 11px;
}

/* 説明画像 */
.bb-custom-wrapper {
  width: 1100px;
  height: 650px;
  margin: auto;
}

.bb-custom-wrapper .bb-bookblock {
  box-shadow: 0 12px 20px -10px rgba(81, 49, 49, 0.6);
}


/* めくりボタン */
.bb-custom-wrapper nav {
  width: 1em;
  height: 30px;
  margin: 1em auto 0;
  position: relative;
  z-index: 0;
  text-align: center;
}

.bb-custom-wrapper nav a {
  background: #72b890;
  color: #fff;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
}

/* ボタンを光らせる */
.bb-custom-wrapper nav a::before {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  opacity: 0.3;
}

/* マウスホバー時に表示 */
.bb-custom-wrapper nav a:hover::before {
  display: block;
}

/* 前のページ */
.turn-right-button {
  width: 270px;
  height: 50px;
  position: fixed;
  bottom: 1em;
  right: 7em;
  text-align: center;
}

img.turn-right-icon {
  width: 35px;
  height: 35px;
  position: relative;
  top: 6px;
}


/* 次のページ */
.turn-left-button {
  width: 270px;
  height: 50px;
  position: fixed;
  bottom: 1em;
  left: 7em;
}

img.turn-left-icon {
  width: 35px;
  height: 35px;
  position: relative;
  top: 6px;
}

/* カメラで見るボタン（スマホ用） */
a.camera-phone-button {
  width: 350px;
  height: 60px;
  position: fixed;
  bottom: 5em;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

a.camera-phone-button img.camera-icon {
  position: relative;
  top: 10px;
}

a.camera-phone-button span.camera-phone-text {
  position: relative;
  top: 8px;
}

/* QRコードモーダル表示ボタン（PC用） */
button.camera-pc-button {
  width: 350px;
  height: 60px;
  background-color: #72b890;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: Myfont;
  font-size: 25px;
  position: fixed;
  bottom: 1em;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/* ボタンを光らせる */
button.camera-pc-button::before {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  opacity: 0.3;
}

/* マウスホバー時に表示 */
button.camera-pc-button:hover::before {
  display: block;
}


a.camera-phone-button span.camera-phone-text {
  position: relative;
  top: 8px;
}

img.camera-icon {
  width: 30px;
  height: 30px;
}

/* No JS */
.no-js .bb-custom-wrapper {
  height: auto;
}

.no-js .bb-custom-content {
  height: 470px;
}

/* 説明画像 */
.explanation-img {
  width: 1100px;
  height: 650px;
  display: flex;
}

@media screen and (min-width: 959px) {
  .camera-phone-button {
    display: none;
  }
}

/* レスポンシブ */
@media screen and (max-width: 959px) {

  /* 959px以下に適用されるCSS（タブレット用） */
  .animal-img,
  .page-text,
  .camera-button-pc {
    display: none;
  }

  .bb-custom-wrapper {
    margin: auto;
  }

  .explanation-img,
  .bb-bookblock,
  .bb-item {
    width: 350px;
    height: 250px;
  }
}

@media screen and (max-width: 480px) {

  /* 480px以下に適用されるCSS（スマホ用） */

  /* 非表示 */
  .animal-img,
  .page-text,
  .before-page-text,
  .next-page-text,
  .camera-pc-button {
    display: none;
  }

  /* サイトタイトル */
  div.title-container {
    margin-top: 10px;
    margin-left: 10px;
  }

  h1.title {
    font-size: 20px;
  }

  div.top-button-container {
    top: 20px;
  }

  div.top-button-container button {
    width: 70px;
    height: 50px;
  }

  img.animal-icon {
    left: -3px;
  }

  .bb-custom-wrapper {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .explanation-img,
  .bb-bookblock,
  .bb-item {
    width: 350px;
    height: 250px;
  }

  /* ページめくりボタン */
  a.turn-right-button,
  a.turn-left-button {
    width: 70px;
    height: 50px;
    position: fixed;
    bottom: 3em;
  }

  a.turn-right-button {
    right: 10px;
  }

  a.turn-left-button {
    left: 10px;
  }

  /* カメラ画面ボタン */
  a.camera-phone-button {
    width: 300px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  a.camera-phone-button span.camera-phone-text {
    font-size: 20px;
  }

}