@charset "utf-8";

/* フォントの定義 */
@font-face {
    font-family: MyFont;
    src: url(../css/fonts/riipopkr/RiiPopkkR.otf);
}

body {
    background-color: #f1f1f1;
    margin: 0;
    text-align: center;
    font-family: MyFont;
}

div.main-content {
    background-image: url("../img/Back-ground-image.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

div.title-wrapper {
    width: auto;
    position: relative;
    top: -400px;
    left: 550px;
}

h1.title {
    font-size: 50px;
    color: #3d3d3d;
    width: 572px;
    height: 167px;
    margin: 0;
    text-align: center;
}


p.explanation-text {
    width: auto;
    height: 168px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #3d3d3d;
    position: relative;
    top: -400px;
    left: 30px;
}

/* 木の画像 */
div.tree-wapper {
    width: 400px;
    height: 460px;
}

img.tree-img {
    position: relative;
    top: -430px;
    left: -270px;
}

/* 猿の画像 */
a.monkey-link {
    position: relative;
    left: -380px;
    top: -780px;
}


img.monkey-img {
    width: 248px;
    height: 265px;
    transform: rotate(22.06deg);
}


/* ネコの画像 */
a.cat-link {
    position: relative;
    top: -460px;
    left: -300px;

}

img.cat-img {
    width: 235px;
    height: 229px;
}

/* 犬の画像 */
a.dog-link {
    position: relative;
    top: -500px;
    left: -50px;

}

.dog-img {
    position: absolute;
    width: 203px;
    height: 223px;
}

/* 動物画像共通 */
a.animal-link {
    text-decoration: none;
}


img.animal-img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

img.monkey-img:hover {
    transform: scale(1.1) rotate(22.06deg);
}

/* 太陽 */
.sun-wrapper {
    position: relative;
    top: -200px;
    left: -170px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: orange;
}

.circle-frame1 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(0deg);
    animation: rotate1 20s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle-frame2 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(45deg);
    animation: rotate2 20s linear infinite;
}

@keyframes rotate2 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.circle-frame3 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(90deg);
    animation: rotate3 20s linear infinite;
}

@keyframes rotate3 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

.circle-frame4 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(135deg);
    animation: rotate4 20s linear infinite;
}

@keyframes rotate4 {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(495deg);
    }
}

.circle-frame5 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(180deg);
    animation: rotate5 20s linear infinite;
}

@keyframes rotate5 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(540deg);
    }
}

.circle-frame6 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(225deg);
    animation: rotate6 20s linear infinite;
}

@keyframes rotate6 {
    0% {
        transform: rotate(225deg);
    }

    100% {
        transform: rotate(585deg);
    }
}

.circle-frame7 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(270deg);
    animation: rotate7 20s linear infinite;
}

@keyframes rotate7 {
    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(630deg);
    }
}

.circle-frame8 {
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: calc(50% + 5px);
    transform-origin: center bottom;
    transform: rotate(315deg);
    animation: rotate8 20s linear infinite;
}

@keyframes rotate8 {
    0% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(675deg);
    }
}

@keyframes stretch {
    0% {
        clip-path: polygon(0 90%, 50% 50%, 100% 90%);
    }

    50% {
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }

    100% {
        clip-path: polygon(0 90%, 50% 50%, 100% 90%);
    }
}

/*拡大縮小 */
.triangle {
    margin-top: -60px;
    width: 60px;
    height: 60px;
    background-color: #FF6600;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    animation: stretch 3s linear infinite;
}