* {
    box-sizing: border-box;
}

body {
    font-family: 'Avenir', 'Helvetica, Neue', 'Helvetica', 'Arial';
    height: 5000px;
}


/* モーダルCSSここから */
.modalArea {
    visibility: hidden;
    /* displayではなくvisibility */
    opacity: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s;

}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: #fff;
    text-align: center;
}

.closeModal {
    cursor: pointer;
    border: solid 1px black;
    text-align: center;
    width: 80%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.is-show {
    /* モーダル表示用クラス */
    visibility: visible;
    opacity: 1;
}

/* モーダルCSSここまで */